.editor-menu-bar {
  display: flex;
  height: auto;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  .divider {
    height: 30px;
    width: 1px;
    background-color: var(--divider-bg-color);
  }
}
