:host {
  display: block;
}
#xy-tooltip-content {
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#xy-tooltip-arrow {
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
