$regular-text-color: #606266;
$primary-color: #409eff;
$lighter-primary-color: #d9ecff;
$primary-text-color: #303133;
$dropdown-bg-color: #ffffff;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$icon-color: #333333;
$icon-active-color: #ecf5ff;
$code-bg-color: #f1e6ff;
$code-color: #a265f2;
$info-color: #f5f5f5;
$hover-bg-color: #f2f3f5;
$focus-color: #d4eaff;
