@import url('../../node_modules/tippy.js/dist/tippy.css');

.tippy-box[data-theme~='light'] {
  /* .tippy-content {
    background-color: #333;
  } */
  .tool-name {
    font-size: 13px;
    text-align: center;
  }
  .tool-keys {
    font-size: 11px;
    text-align: center;
    color: #bbc6ce;
  }
}

.tippy-box[data-theme~='dark'] {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  /* .tippy-content {
  } */
  .tool-name {
    font-size: 13px;
    text-align: center;
  }
  .tool-keys {
    font-size: 11px;
    text-align: center;
    color: #5f6265;
  }
  .tippy-arrow {
    color: #fff;
    background-color: #fff;
  }
}
