:host {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
}
.editor {
  &-header {
    padding: 7px 10px;
    border-bottom: 1px solid #e4e7ed;
  }
  &-content {
    width: 100%;
  }
}
