:host {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
  display: block;
  --red-color: red;
}

.editor {
  &-header {
    padding: 7px 10px;
    border-bottom: 1px solid var(--bg-color-black);
    background-color: var(--bg-color);
  }
  &-content {
    width: 100%;
  }
}
